#root {
    -fx-alignment: center;
    -fx-spacing: 55;
    -fx-padding: 20;
}

.label {
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

.button {
    -fx-min-height: 100;
    -fx-min-width: 400;
    -fx-font-size: 24;

}